@import 'compass';
@import 'normalize';

html {
  @include box-sizing('border-box');
}

*, *:before, *:after {
  box-sizing: inherit;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}
