@import 'compass';
/*@import 'settings';

$h1-font-size: rem-calc(36);
$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(24);
$h4-font-size: rem-calc(24);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

$h1-font-reduction: 0;
$h2-font-reduction: 0;
$h3-font-reduction: 0;
$h4-font-reduction: 0;
$h5-font-reduction: 0;
$h6-font-reduction: 0;

$side-nav-padding: 0;
$side-nav-link-bg-hover: #FFF;*/

@import 'app.normalize';
@import 'app.foundation';

@import 'components/hello';
@import 'components/panels';
@import 'components/thumbs';

@import 'variables/colors';

@import 'fonts';

body {
  background: $ghost;

  > .toc {
    @include side-nav;
    padding: 0;
    background: $white;
    border-style: $panel-border-style;
    border-width: 0;
    border-bottom-width: $panel-border-size;
    border-color: $panel-border-color;

    .title {
      margin: 0 auto;
      padding: 0;
      max-width: 50rem;
      padding: $side-nav-link-padding;
      background: $smoke;
      border-bottom: 1px $panel-border-style $panel-border-color;
      font-size: $h5-font-size;
      text-transform: capitalize;
    }

    ol {
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;

      li {
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
      }

      ol {
        margin-left: 1.5rem;
      }
    }
  }

  > .section {
    margin: 0 auto;
    padding: 1rem 0;
    max-width: 50rem;
  }
}

.section {
  figure {
    /* @todo Remove */
    display: none;
    margin: 0 0 $paragraph-margin-bottom;

    img {
      @include thumb-without-hover;
    }

    figcaption {
      margin-top: $paragraph-margin-bottom / 2;
      text-align: center;
      font-style: italic;
    }
  }
}

.note {
  @include panel($white, rem-calc(20) rem-calc(30));
  border-left: 15px $panel-border-style $panel-border-color;
  font-style: italic;

  p:first-of-type::before {
    @include header;
  }

  &.note {
    border-left-color: $peter-river;

    p:first-of-type::before {
      content: 'Note';
    }
  }

  &.tip {
    border-left-color: $sun-flower;

    p:first-of-type::before {
      content: 'Tip';
    }
  }

  &.visit {
    border-left-color: $emerald;

    p:first-of-type::before {
      content: 'Visit';
    }
  }
}

.worked_example {
  @include panel($white, rem-calc(30), true);

  > .title {
    &::before {
      @include header;
      content: 'Example';
    }
  }

  .question {
    @include panel($smoke, rem-calc(16));
  }

  .workstep {
    @include panel(false, false);

    .title {
      font-size: $h3-font-size;
    }
  }
}

.exercises {
  @include panel($white, rem-calc(30), 15px $panel-border-style $panel-border-color);

  .problemset {
    .header {

    }

    .entry {
      .problem {

      }

      .solution {

      }
    }
  }
}

/*----------------------------------------------------------------------
>= 768
----------------------------------------------------------------------*/

@media #{$medium-up} {
  body {
    > .section {
    }
  }
}

/*----------------------------------------------------------------------
>= 1024
----------------------------------------------------------------------*/

@media #{$large-up} {
  body {
    /*
        display: table;

        > .toc {
          display: table-cell;
          vertical-align: top;
          width: 15rem;

          background: $panel-bg;
          border-style: $panel-border-style;
          border-width: 0;
          border-right-width: $panel-border-size;
          border-color: $panel-border-color;
        }

        > .section {
          display: table-cell;
          vertical-align: top;
          padding: 1rem;
        }
    */

    .wy-nav-side {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 300px;
      overflow-x: hidden;
      overflow-y: hidden;
      min-height: 100%;
      z-index: 200;

      background: $panel-bg;
      border-style: $panel-border-style;
      border-width: 0;
      border-right-width: $panel-border-size;
      border-color: $panel-border-color;
    }

    .wy-side-scroll {
      width: 320px;
      position: relative;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
    }

    > .section {
      margin-left: 300px;
      padding: 1rem 0;
      min-height: 100%;
      max-width: 45rem;
    }

  }
}
