/**
 * https://github.com/EbenSorkin/Merriweather (Eben Sorkin, SIL OFL)
 */
@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
