<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>02 exponentials</title>
  <link rel="stylesheet" href="css/app.min.css" />
  <!--[if lte IE 8]>
    <script src="js/ie8.min.js"></script>
  <![endif]-->
  <script src="js/app.min.js"></script>
</head>
<body>
  <div class="section">
    <h1 class="title">Exponents</h1>
    <div class="section">
      <h2 class="title">Introduction</h2>
      <p>Exponential notation is a short way of writing the same number multiplied by itself many times. This is very useful in everyday life. You may have heard someone describe the size of an area in <em>square</em> metres or <em>square</em> kilometres. For example, the largest radio telescope in the world is being built in South Africa. The telescope is called the <em>square kilometre</em> array, or SKA. This is because the telescope will occupy an area of \(\text{1}\) kilometre by \(\text{1}\) kilometre or \(\text{1}\) kilometre squared.</p>

      <figure><img src="images/SKA.jpg" alt="SKA Organisation (https://www.flickr.com/photos/uclmaps/13221058125/)"/><figcaption class="caption">Antennas from the Square Kilometre Array (artist's concept).</figcaption></figure><p>Exponents are also very useful to describe very large and very small numbers. For example, the SKA will be detecting incredibly weak signals from objects which are so far away that to write out the strength of the signal or the number of kilometres away in full would be impractical. Outside of astronomy, exponents are required by many other professions such as computer programmers, engineers, economists, financial analysts, biologists and demographers.</p>
      <div class="note visit">
        <p>If you want to know more about how exponents are used then take a look at the following presentation.</p>
        <p data-class="presentation" id="scSHORTCODE"><a href="http://www.slideshare.net/bigpassy/why-exponent-powers-are-important-21024410">Presentation: None</a></p></div>
        <p>You have already been introduced to exponents and exponent laws in previous grades. Remember that exponents can also be called indices or powers. Exponential notation is as follows:</p>
        \[\large{\phantom{l}_{\text{base } \leftarrow} a^{n \rightarrow \text{ exponent/index}} }\]

        <p>For any real number \(a\) and natural number \(n\), we can write \(a\) multiplied by itself \(n\) times as \({a}^{n}\)</p>

        <p>Remember the following identities:</p>
        <div class="mathidentity">
          <ol data-class="ListEnumerated">
            <li>
              <p>\({a}^{n} = a \times a \times a \times \cdots \times a \enspace \left(n \text{ times}\right) \enspace  \left(a\in \mathbb{R}, n\in \mathbb{N}\right)\)</p>
            </li>
            <li>
              <p>\({a}^{0}=1 \quad \left(a\ne 0 \text{ because }{0}^{0} \text{ is undefined}\right)\)</p>
            </li>
            <li>
              <p>\({a}^{-n}=\dfrac{1}{{a}^{n}} \quad \left(a\ne 0 \text{ because }\dfrac{1}{0} \text{ is undefined}\right)\)</p>
            </li>
            <li>Similarly, \(\dfrac{1}{a^{-n}} = a^{n}\)</li>
          </ol>
        </div>

        <div class="note visit">
          <p>Interested in finding out why raising a real number to the power of zero is one? Try work it out for yourself. If you get stuck, you can see an example of how to show this is true at this link.</p>
          <p data-class="video" id="scSHORTCODE"><a href="www.youtube.com/embed/dAvosUEUH6I">Video: None</a></p></div>
          <p>Look at the following examples to see these identities in action:</p>

          <ol data-class="ListEnumerated">
            <li>
              <p>\(3\times 3={3}^{2} = 9\)</p>
            </li>
            <li>
              <p>\(5\times 5\times 5\times 5= {5}^{4}\)</p>
            </li>
            <li>
              <p>\(p\times p\times p={p}^{3}\)</p>
            </li>
            <li>
              <p>\({\left({3}^{x}\right)}^{0}=1\)</p>
            </li>
            <li>
              <p>\({2}^{-4}=\dfrac{1}{{2}^{4}}=\dfrac{1}{16}\)</p>
            </li>
            <li>
              <p>\(\dfrac{1}{{5}^{-x}}={5}^{x}\)</p>
            </li>
          </ol>

          <div class="note note">
            <p>If your final answer is easier to work out without a calculator, then write it out in full - not in exponential notation, as in examples 1 and 5.</p>
          </div>

          <div class="note note">
            <p>It is convention to write your final answer with positive exponents.</p>
          </div>

          <p>In this chapter, we will revise the exponent laws and use these laws to simplify and solve more complex expressions and equations.</p>

          <div class="note visit">
            <p>To revise what exponents are you can watch the following video.</p>
            <p data-class="video" id="scVMald"><a href="http://www.khanacademy.org/video/level-1-exponents?playlist=Pre-algebra">Video: VMald</a></p>
          </div>
    </div>

    <div class="section" id="scEMAAG">
      <h2 class="title">Revision of exponent laws</h2>
      <p>There are several laws we can use to make working with exponential numbers easier. Some of these laws might have been done in earlier grades, but we list all the laws here for easy reference:</p>

      <div class="mathidentity">
        <ul data-class="ListBulleted">
          <li>
            <p>\({a}^{m}\times {a}^{n}={a}^{m+n}\)</p>
          </li>
          <li>
            <p>\(\dfrac{{a}^{m}}{{a}^{n}}={a}^{m-n}\)</p>
          </li>
          <li>
            <p>\({\left(ab\right)}^{n}={a}^{n}{b}^{n}\)</p>
          </li>
          <li>
            <p>\({\left(\dfrac{a}{b}\right)}^{n}=\dfrac{{a}^{n}}{{b}^{n}}\)</p>
          </li>
          <li>
            <p>\({\left({a}^{m}\right)}^{n}={a}^{mn}\)</p>
          </li>
        </ul>

        <p>where \(a&gt;0\), \(b&gt;0\) and \(m,n\in \mathbb{R}\)</p>
      </div>

      <div class="note visit">
        <p>The following two videos explain the exponent laws.</p>

        <p>Part 1:</p>
        <p data-class="video" id="scSHORTCODE"><a href="www.youtube.com/embed/kITJ6qH7jS0">Video: None</a></p>
        <p>Part 2:</p>
        <p data-class="video" id="scSHORTCODE"><a href="http://youtu.be/rEtuPhl6930">Video: None</a></p></div><div class="worked_example"><h1 class="title">Applying the exponential laws</h1><div class="question">

        <p>Simplify:</p>
        <ol data-class="ListEnumerated">
          <li>
            <p>\({2}^{3x}\times {2}^{4x}\)</p>
          </li>
          <li>
            <p>\(\dfrac{4x^{3}}{2x^{5}}\)</p>
          </li>
          <li>
            <p>\(\dfrac{12{p}^{2}{t}^{5}}{3p{t}^{3}}\)</p>
          </li>
          <li>
            <p>\({\left(3x\right)}^{2}\)</p>
          </li>
          <li>
            <p>\({\left({3}^{4}{5}^{2}\right)}^{3}\)</p>
          </li>
          <li>
            <p>\(6p^{0} \times \left(7p\right)^{0}\)</p>
          </li>
          <li>
            <p>\({\left(\dfrac{2xp}{6x^2}\right)}^{3}\)</p>
          </li>
          <li>
            <p>\({\left({2}^{-2}\right)}^{2x+1}\)</p>
          </li>
        </ol>
      </div>

      <ol data-class="ListEnumerated">
        <li>
          <p>\({2}^{3x}\times {2}^{4x}={2}^{3x+4x}={2}^{7x}\)</p>
        </li>
        <li>
          <p>\(\dfrac{4x^{3}}{2x^{5}}=2x^{3-5}=2x^{-2}=\dfrac{2}{x^{2}}\)</p>
        </li>
        <li>
          <p>\(\dfrac{12{p}^{2}{t}^{5}}{3p{t}^{3}}=4{p}^{\left(2-1\right)}{t}^{\left(5-3\right)}=4p{t}^{2}\)</p>
        </li>
        <li>
          <p>\({\left(3x\right)}^{2}={3}^{2}{x}^{2}=9{x}^{2}\)</p>
        </li>
        <li>
          <p>\({\left({3}^{4}\times {5}^{2}\right)}^{3}={3}^{\left(4\times 3\right)}\times {5}^{\left(2\times 3\right)}={3}^{12}\times {5}^{6}\)</p>
        </li>
        <li>
          <p>\(6p^{0} \times \left(7p\right)^{0} = 6(1) \times 1 = 6\)</p>
        </li>
        <li>
          <p>\({\left(\dfrac{2xp}{6x^2}\right)}^{3}=\left(\dfrac{p}{3x}\right)^{3}=\dfrac{p^{3}}{27x^{3}}\)</p>
        </li>
        <li>
          <p>\({\left({2}^{-2}\right)}^{2x+1}=2^{-2(2x+1)}=2^{-4x-2}\)</p>
        </li>
      </ol>
    </div>

    <div class="worked_example">
      <h1 class="title">Exponential expressions</h1>

      <div class="question">
        <p>Simplify: \(\dfrac{{2}^{2n}\times {4}^{n}\times 2}{{16}^{n}}\)</p>
      </div>

      <div class="workstep">
        <h2 class="title">Change the bases to prime numbers</h2>

        <p>At first glance it appears that we cannot simplify this expression. However, if we reduce the bases to prime bases, then we can apply the exponent laws.</p>
\[\dfrac{{2}^{2n} \times {4}^{n} \times 2}{{16}^{n}} = \dfrac{{2}^{2n} \times  {\left({2}^{2}\right)}^{n} \times {2}^{1}}{{\left({2}^{4}\right)}^{n}}\]
      </div>

      <div class="workstep"><h2 class="title">Simplify the exponents</h2>
        \begin{align*}
              &amp; =\dfrac{{2}^{2n} \times {2}^{2n} \times {2}^{1}}{{2}^{4n}} \\
              &amp; = \dfrac{{2}^{2n + 2n + 1}}{{2}^{4n}} \\
              &amp; = \dfrac{{2}^{4n + 1}}{{2}^{4n}} \\
              &amp; ={2}^{4n + 1 - \left(4n\right)} \\
              &amp; = 2
              \end{align*}
      </div>
    </div>

    <div class="note tip">
      <p>When you have a fraction that is one term over one term, use the method of Finding Prime Bases - in other words use prime factorisation on the bases.</p>
    </div>

    <div class="worked_example">
      <h1 class="title">Exponential expressions</h1>

      <div class="question">
        <p>Simplify: \[\dfrac{{5}^{2x - 1}{9}^{x - 2}}{{15}^{2x - 3}}\]</p>
      </div>

      <div class="workstep">
        <h2 class="title">Change the bases to prime numbers</h2>
\begin{align*}
              \dfrac{{5}^{2x - 1}{9}^{x - 2}}{{15}^{2x - 3}} &amp; = \dfrac{{5}^{2x - 1}{\left({3}^{2}\right)}^{x - 2}}{{\left(5\times 3\right)}^{2x - 3}} \\
              &amp; = \dfrac{{5}^{2x - 1}{3}^{2x - 4}}{{5}^{2x - 3}{3}^{2x - 3}}
              \end{align*}
      </div>
      <div class="workstep">
        <h2 class="title">Subtract the exponents (same base)</h2>
\begin{align*}
              &amp; = {5}^{\left(2x - 1\right) - \left(2x - 3\right)} \times {3}^{\left(2x - 4\right) - \left(2x - 3\right)} \\
              &amp; = {5}^{2x - 1 - 2x + 3} \times {3}^{2x - 4 - 2x + 3} \\
              &amp; = {5}^{2} \times {3}^{-1}
              \end{align*}</div><div class="workstep"><h2 class="title">Write the answer as a fraction</h2>
\begin{align*}
              &amp;= \dfrac{{5}^{2}}{3} \\
              &amp; = \dfrac{25}{3}
              \end{align*}</div></div><div class="note note">
<p>When working with exponents, all the laws of operation for algebra apply.</p>
</div><div class="worked_example"><h1 class="title">Simplifying by taking out a common factor</h1><div class="question">

<p>Simplify:
            \[\dfrac{{2}^{t} - {2}^{t - 2}}{3\dottimes {2}^{t} - {2}^{t}}\]</p>

          </div>

          <div class="workstep">
            <h2 class="title">Simplify to a form that can be factorised</h2>

<p>For each of the exponent laws we can "undo" the law - in other words we can work backwards. For this expression we can reverse the multiplication law to write \(2^{t - 2}\) as \(2^{t} \dottimes 2^{-2}\).</p>
\[\dfrac{{2}^{t} - {2}^{t - 2}}{3\dottimes {2}^{t} - {2}^{t}} = \dfrac{{2}^{t} - \left({2}^{t}\dottimes {2}^{-2}\right)}{3\dottimes {2}^{t}-{2}^{t}}\]
          </div>
          <div class="workstep">
            <h2 class="title">Take out a common factor</h2>
\begin{align*}
                &amp; = \dfrac{{2}^{t}\left(1 - {2}^{-2}\right)}{{2}^{t}\left(3 - 1\right)}
                \end{align*}</div>
                <div class="workstep">
                  <h2 class="title">Cancel the common factor and simplify</h2>
\begin{align*}
                &amp; = \dfrac{1-2^{-2}}{3-1} \\
                &amp; = \dfrac{1 - \dfrac{1}{4}}{2}\\
                &amp; = \dfrac{\dfrac{3}{4}}{2} \\
                &amp; = \dfrac{3}{8}
                \end{align*}
                </div>

            </div>

            <div class="note tip">
              <p>When you have a fraction that has more than one term in the numerator or denominator, change to prime bases if necessary and then factorise.</p>
            </div>

            <div class="worked_example">
              <h1 class="title">Simplifying using difference of two squares</h1>
                <div class="question">

                <p>Simplify:
              \[\dfrac{{9}^{x} - 1}{{3}^{x} + 1}\]</p>

                </div>

              <div class="workstep">
                <h2 class="title">Change the bases to prime numbers</h2>
\begin{align*}
                \dfrac{{9}^{x} - 1}{{3}^{x} + 1} &amp; = \dfrac{{\left({3}^{2}\right)}^{x} - 1}{{3}^{x} + 1} \\
                &amp; = \dfrac{{3}^{2x} - 1}{{3}^{x} + 1} \qquad \text{Recognise that } 3^{2x} = \left(3^{x}\right)^{2}
                \end{align*}</div>

                <div class="workstep">
                  <h2 class="title">Factorise using the difference of squares</h2>
\begin{align*}
                &amp; = \dfrac{\left({3}^{x} - 1\right)\left({3}^{x} + 1\right)}{{3}^{x} + 1}
                \end{align*}
                </div>
                <div class="workstep">
                  <h2 class="title">Cancel the common factor and simplify</h2>
\begin{align*}
                &amp; = {3}^{x}-1
                \end{align*}
                </div>
            </div>

            <div class="exercises">
              <div class="problemset">
                <div class="header">
                  <p>Simplify without using a calculator:</p>
                </div>

                <div class="entry">
                  <div class="problem">
                    <p>\(16^{0}\)</p>
                  </div>
                  <div class="solution">
                  \[16^{0} = 1\]
                  </div>
                </div>

                <div class="entry">
                  <div class="problem">
                    <p>\(16a^{0}\)</p>
                  </div>

                  <div class="solution">
                \begin{align*}
                  16a^{0} &amp; = 16(1)\\
                  &amp; = 16
                  \end{align*}
                  </div>
              </div>

          </div>
          </div>
    </div>
    </div>
</body>
</html>