@mixin header {
  display: block;
  font-family: $body-font-family;
  font-size: $h5-font-size;
  font-weight: bold;
  font-style: normal;
  line-height: $header-line-height;
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-transform: uppercase;
}
