@import 'foundation/components/thumbs';

/**
 * Image thumbnail with the same shadow in normal and hover state.
 */
@mixin thumb-without-hover {
  @include thumb;

  &:hover,
    &:focus {
    box-shadow: $thumb-box-shadow;
  }
}
